.cart{
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    width: 20px;
    height: 20px;
    right: 5vw ;
    top: 0;
}
.cart_count {
    position: absolute;
    top: 15px;
    right: 2vw ;
    color: white ;
    width: 20px ;
    height: 20px ;
    text-align: center ;
    border-radius: 100% ;
    cursor: default ;
    background-color: red ;
}
.container_cart {
    display: flex ;
    flex-flow: row ;
    align-content: center ;
    align-items: center ;
    min-width: 50px ;
    padding-right: -05px ;
}
.cart-count {
    color: white ;
    width: 20px ;
    height: 20px ;
    text-align: center ;
    border-radius: 100% ;
    cursor: default ;
    background-color: red ;
}
.cart_list {
    display: none ;
    min-width: 100px ;
    right: 0 ;
    top: 50px ;
    position: absolute ;
    z-index: 999 ;
    flex-flow: column ;
    justify-content: center ;
    align-items: center ;
    align-content: center ;
    padding: 20px ;
    background-color: rgba(3, 3, 3, 0.9) ;
    box-shadow: 0 0 05px 02px rgba(0, 0, 0, 0.5) ;
}
.button_close_list {
    position: absolute ;
    top: 0 ;
    right: 0 ;
    border: 0 ;
    cursor: pointer ;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: white ;
    background-color: transparent ;
    font-size: 01.2rem ;
}
.cart_button_view {
    cursor: pointer;
    background-color: transparent;
    background-image: url('../assets/carrito-de-compras.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    width: 20px;
    height: 20px;
}